# Python
__pycache__/
*.pyc
*.pyo

# Virtual Environment
.venv/
env/
venv/

# Models
model/*.pkl
model/*.joblib

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Secrets
.env

# Logs
*.log